on:
  push:
    tags:
      - 'v*'

name: Create Build & Release

jobs:
  build-and-release-linux:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Run Build Script
      run: bash ./build.sh

    - name: Create Release
      run: |
        gh release create ${{github.ref_name}} --title "${{github.ref_name}}" --notes-from-tag --fail-on-no-commits

    - name: Upload Release Artifact
      run: |
        xz --stdout build/src/ts2cpp/ts2cpp > ts2cpp-${{github.ref_name}}-linux.xz
        gh release upload ${{github.ref_name}} ts2cpp-${{github.ref_name}}-linux.xz

  build-and-release-windows:
    needs: build-and-release-linux
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4

    - name: Run Build Script
      run: cmd /c build.bat

    - name: Upload Release Artifact
      run: |
        7z a -tzip ts2cpp-${{github.ref_name}}-windows.zip build/src/ts2cpp/Release/ts2cpp.exe
        gh release upload ${{github.ref_name}} ts2cpp-${{github.ref_name}}-windows.zip
